<% include ../partials/header %> 

<div class="container" style="width: 30%; margin: 25px auto;">
    <header class="jumbotron">
        <div class="container">
            <h1>Administration</h1>
        </div>
    </header>
    <div class="row">
        <div style="width: 70%; margin: 25px auto;">
                <div class="form-group">
                    <a href="admins/new" class="btn btn-lg btn-primary btn-block">Adminitstrators</a>
                </div>
                <div class="form-group">
                    <a href="candidates/new" class="btn btn-lg btn-primary btn-block">Candidates</a>
                </div>
                <div class="form-group">
                    <a href="centers/new" class="btn btn-lg btn-primary btn-block">Exam Centers</a>
                </div>
                <div class="form-group">
                    <a href="exams/new" class="btn btn-lg btn-primary btn-block">Exams</a>
                </div>
                <div class="form-group">
                    <a href="exams/questions" class="btn btn-lg btn-primary btn-block">Questions</a>
                </div>
                <hr>
                <div class="form-group">
                    <a href="exams/results" class="btn btn-lg btn-primary btn-block">All results</a>
                </div>
                <div class="form-group">
                    <h3>More result options</h3>
                    <h4><a href="exams/results/{centerID}">exams/results/{centerID}</a></h4>
                    <h4><a href="exams/results/{centerID}/{date}">exams/results/{centerID}/{date}</a></h4>
                    <h4><a href="exams/results/candidates/{userID}/r">exams/results/candidates/{userID}/r</a></h4>
                </div>
                <div class="form-group">
                    <h3>JSON result options</h3>
                    <a href="exams/results/json"><h4>exams/results/json</h4></a>
                    <a href="exams/results/json/{centerID}"><h4>exams/results/json/{centerID}</h4></a>
                    <a href="exams/results/json/{centerID}/{date}"><h4>exams/results/json/{centerID}/{date}</h4></a>
                    <a href="exams/results/json/candidates/{userID}/r"><h4>exams/results/json/candidates/{userID}/r</h4></a>
                </div>

      </div>
    </div>
</div>

<% include ../partials/footer %>
