<% include partials/header %> 

<div class="container" style="width: 30%; margin: 25px auto;">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Qualification</h1>
            <% if(!currentUser){ %>
            	<a href="/login" class="btn btn-lg btn-success">Login!</a>
            <% } else { %>
	           	<% if (currentUser.role==0) {%>
	            <a href="/admins" class="btn btn-lg btn-success">Administration</a>
	            <% } %>
	            <% if (currentUser.role==2) {%>
	            <a href="/centers" class="btn btn-lg btn-success">Center Andministration</a>
	            <% } %>
	            <% if (currentUser.role==3) {%>
	            	<% if (currentUser.flag==1) {%>
	            	<a href="/candidates" class="btn btn-lg btn-success">Start Exam</a>
	            	<% } %>
	            	<% if (currentUser.flag==2) {%>
	            	<h3>Exam Completed</h3>
	            	<a href="/logout" class="btn btn-lg btn-success">Logout!</a>
	            	<% } %>
	            <% } %>
	        <% } %>
        </div>
    </header>
</div>

<% include partials/footer %>