<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Examination</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/exams/answers" method="POST">
                <input type="hidden" name="id0" value="<%= questions[0].id %>">
                <input type="hidden" name="id1" value="<%= questions[1].id %>">
                <input type="hidden" name="id2" value="<%= questions[2].id %>">
                <input type="hidden" name="id3" value="<%= questions[3].id %>">
                <input type="hidden" name="correct0" value="<%= questions[0].ransw %>">
                <input type="hidden" name="correct1" value="<%= questions[1].ransw %>">
                <input type="hidden" name="correct2" value="<%= questions[2].ransw %>">
                <input type="hidden" name="correct3" value="<%= questions[3].ransw %>">
                <div class="row" id="first">
                    <div class="form-group">
                        <h3><%= questions[0].descr%></h3>
                    </div>
                    <div class="form-inline">
                        <span class="form-control"><input type="radio" name="answer0" value="<%= questions[0].answ1 %>"> <%= questions[0].answ1 %></span>
                        <span class="form-control"><input type="radio" name="answer0" value="<%= questions[0].answ2 %>"> <%= questions[0].answ2 %></span>
                    </div>
                    <div class="form-inline">
                        <span class="form-control"><input type="radio" name="answer0" value="<%= questions[0].answ3 %>"> <%= questions[0].answ3 %></span>
                        <span class="form-control"><input type="radio" name="answer0" value="<%= questions[0].answ4 %>"> <%= questions[0].answ4 %></span>
                    </div>
                </div>
                <div class="row" id="second">
                    <div class="form-group">
                        <h3><%= questions[1].descr %></h3>
                    </div>
                    <div class="form-inline">
                        <span class="form-control"><input type="radio" name="answer1" value="<%= questions[2].answ1 %>"> <%= questions[1].answ1 %></span>
                        <span class="form-control"><input type="radio" name="answer1" value="<%= questions[2].answ2 %>"> <%= questions[1].answ2 %></span>
                    </div>
                    <div class="form-inline">
                        <span class="form-control"><input type="radio" name="answer1" value="<%= questions[2].answ3 %>"> <%= questions[1].answ3 %></span>
                        <span class="form-control"><input type="radio" name="answer1" value="<%= questions[2].answ4 %>"> <%= questions[1].answ4 %></span>
                    </div>
                </div>
                <div class="row" id="third">
                    <div class="form-group">
                        <h3><%= questions[2].descr %></h3>
                    </div>
                    <div class="form-inline">
                        <span class="form-control"><input type="radio" name="answer2" value="<%= questions[2].answ1 %>"> <%= questions[2].answ1 %></span>
                        <span class="form-control"><input type="radio" name="answer2" value="<%= questions[2].answ2 %>"> <%= questions[2].answ2 %></span>
                    </div>
                    <div class="form-inline">
                        <span class="form-control"><input type="radio" name="answer2" value="<%= questions[2].answ3 %>"> <%= questions[2].answ3 %></span>
                        <span class="form-control"><input type="radio" name="answer2" value="<%= questions[2].answ4 %>"> <%= questions[2].answ4 %></span>
                    </div>
                </div>
                <div class="row" id="forth">
                    <div class="form-group">
                        <h3><%= questions[3].descr %></h3>
                    </div>
                    <div class="form-inline">
                        <span class="form-control"><input type="radio" name="answer3" value="<%= questions[3].answ1 %>"> <%= questions[3].answ1 %></span>
                        <span class="form-control"><input type="radio" name="answer3" value="<%= questions[3].answ2 %>"> <%= questions[3].answ2 %></span>
                    </div>
                    <div class="form-inline">
                        <span class="form-control"><input type="radio" name="answer3" value="<%= questions[3].answ3 %>"> <%= questions[3].answ3 %></span>
                        <span class="form-control"><input type="radio" name="answer3" value="<%= questions[3].answ4 %>"> <%= questions[3].answ4 %></span>
                    </div>
                </div>
                <div class="row" >
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" onclick="return confirm('Are you sure?')">Submit!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" scr="../../scripts/script.js"></script>
<% include ../partials/footer %>