<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Candidates</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/candidates" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Create!</button>
                </div>
            </form>
            <a href="/admins">Go Back</a>
        </div>
    </div>
</div>
 <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% user.forEach(function(user){ %>
            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="thumbnail">
                   <div class="caption">
                       <h4><%= user.name %></h4>
                   </div>
                   <p>
                      <a href="" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
<% include ../partials/footer %>

 