<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Place Candidates</h1>
        <a href="/centers">Go Back</a>
        <div style="width: 30%; margin: 25px auto;">
            <% users.forEach(function(user){ %>
            <form action="/candidates/place" method="POST">
                <div class="form-group">
                   <%= user.name %> <input class="form-control" type="hidden" name="userID" value="<%= user.id %>">
                </div>
                <div class="form-group"> 
                    <select name="examID" class="form-control">
                        <% exams.forEach(function(exam){ %>
                        <option value="<%= exam.id%>"><%= exam.tdate %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Create!</button>
                </div>
            </form>
            <% }); %>
        </div>
    </div>
</div>

<% include ../partials/footer %>

 