<% include ../partials/header %> 

<div class="container" style="width: 30%; margin: 25px auto;">
    <header class="jumbotron">
        <div class="container">
            <h1>Center Administration</h1>
        </div>
    </header>
    <div class="row">
        <div style="width: 70%; margin: 25px auto;">
            <div class="form-group">
                <a href="/exams" class="btn btn-lg btn-primary btn-block">Center Exams</a>
            </div>
            <div class="form-group">
                <a href="/candidates/place" class="btn btn-lg btn-primary btn-block">Place Candidates</a>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
