<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Exam Centers</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/centers" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <div class="form-group"> 
                    <select name="adminID" class="form-control">
                        <% users.forEach(function(user){ %>
                        <option value="<%= user.id%>"><%= user.name %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="address" placeholder="Address">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Create!</button>
                </div>
            </form>
            <a href="/admins">Go Back</a>
        </div>
    </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Center</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <% center.forEach(function(center,i){ %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= center.centername %></td>
      <td><%= center.address %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% include ../partials/footer %>

