<% include ../partials/header %>

<a href="/admins">Go Back</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Centers's ID</th>
      <th scope="col">Questions's ID</th>
      <th scope="col">Correct Answer</th>
      <th scope="col">Answer</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <% results.forEach(function(result,i){ %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= result.centerID %></td>
      <td><%= result.questionID %></td>
      <td><%= result.correct %></td>
      <td>
        <% if(result.correct===result.answer) { %>
          <span class="btn btn-success"><%= result.answer %></span>
        <% } else { %>
          <span class="btn btn-danger"><%= result.answer %></span>
        <% } %>
      </td>
      <td><%= result.time %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% include ../partials/footer %>

