<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Candidates</h1>
        <div style="width: 30%; margin: 25px auto;">
          <a href="/centers">Go Back</a>
          <% exams.forEach(function(exam){ %>
            <form action="/exams/start" method="POST">
                <input type="hidden" name="id" value="<%= exam.id %>">
                <div class="form-group">
                    <button class="btn btn-lg btn-warning btn-block"><%= exam.tdate %>  START!</button>
                </div>
            </form>
            
          <% }); %>
            
        </div>
    </div>
</div>
<% include ../partials/footer %>

 