<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Center Examination</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/exams" method="POST">
                <div class="form-group">
                    <select class="form-control" name="center">
                      <% center.forEach(function(center){ %>
                      <option value="<%= center.centername %>"><%= center.centername %></option>
                      <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" name="date" >
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Create!</button>
                </div>
            </form>
            <a href="/admins">Go Back</a>
        </div>
    </div>
</div>-
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Center</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <% exam.forEach(function(exam,i){ %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= exam.examcenter %></td>
      <td><%= exam.tdate %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% include ../partials/footer %>

