<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Questions</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/exams/questions" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Questions">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="answer1" placeholder="Answer 1">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="answer2" placeholder="Answer 2">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="answer3" placeholder="Answer 3">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="answer4" placeholder="Answer 4">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="correct" placeholder="Correct Answer">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Create!</button>
                </div>
            </form>
            <a href="/admins">Go Back</a>
        </div>
    </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Question</th>
      <th scope="col">Answer 1</th>
      <th scope="col">Answer 2</th>
      <th scope="col">Answer 3</th>
      <th scope="col">Answer 4</th>
      <th scope="col">Correct Answer</th>
    </tr>
  </thead>
  <tbody>
    <% questions.forEach(function(question,i){ %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= question.descr %></td>
      <td><%= question.answ1 %></td>
      <td><%= question.answ2 %></td>
      <td><%= question.answ3 %></td>
      <td><%= question.answ4 %></td>
      <td><%= question.ransw %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% include ../partials/footer %>
